<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696736664653-0embmcol275vbdsqves6smdcbuotpuud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696736664653-0embmcol275vbdsqves6smdcbuotpuud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>696736664653-vs0ktu6g73hl5m0u4h3brncvh7fs47uh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1RjuaAvQOOajre7HZKWW54ybtBlOg76w</string>
	<key>GCM_SENDER_ID</key>
	<string>696736664653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.campustalk.com</string>
	<key>PROJECT_ID</key>
	<string>bschool-bb6e0</string>
	<key>STORAGE_BUCKET</key>
	<string>bschool-bb6e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696736664653:ios:07a9c3b0c226b0b71a2004</string>
</dict>
</plist>